.venv/
*.lp
*.ilp
*.sol

__pycache__/

*.html
*.docx

/doc/*.png

# tex document
*.aux
*.bbl
*.synctex.gz
*.out
*.log
*.pdf
*.fls
*.fdb_latexmk
*.bcf
*.blg
*.lof
*.lot
*.run.xml
*.toc
*.xdv

.coverage

Platypus/

*.7z